@font-face {
  font-family: "sansumi-regular";
  src: url("asset/font/Sansumi-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sansumi-extrabold";
  src: url("asset/font/Sansumi-ExtraBold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#booking-submit span {
  font-family: "sansumi-extrabold";
}

footer {
  padding: 40px 0;
}

footer p {
  font-style: normal !important;
  font-size: 0.75rem !important;
  color: #c3c0bd !important;
  margin: 0;
  padding: 0;
}

footer ul li a {
  text-transform: uppercase !important;
}

#whats-on h3 {
  margin-bottom: 1rem;
}

footer ul li:last-child:before {
  top: 4px !important;
}

/* Theme Styles for Base */
.main .l-inner-wrapper {
  max-width: none !important;
}
.cp-header__nav ul li a,
.cp-header__logo-address {
  color: #20483a !important;
}
.cp-header__nav ul li a:after {
  background: #20483a !important;
}
.cp-header__nav ul.menu li[class*="icon-"]:hover:before {
  color: #20483a !important;
}
.cp-header__nav ul.menu li[class*="icon-"]:before {
  color: #f7f1ea !important;
}
.cp-button {
  background: #007382 !important;
}
.cp-button span {
  color: #f7f1ea !important;
}

#booking-submit {
  background: #20483a !important;
}
#booking-submit span {
  color: #fadb9a !important;
}

.cp-header__logo-address span {
  color: inherit;
}

footer {
  background: #f6dca2 !important;
}
footer p,
footer li,
footer li a {
  color: #20483a !important;
}
footer ul li:last-child a:before {
  background-color: #20483a !important;
}

/* END Theme Styles for Base */

/* Theme Styles for Fonts */
.cp-header__nav ul.menu li a,
.cp-header__logo-address span,
.cp-header__nav-wrapper button {
  font-family: sansumi-regular;
  font-weight: 300;
  line-height: 1.1;
}
.l-content-wrapper h2,
.l-content-wrapper h3,
.l-content-wrapper h4,
.l-content-wrapper h5,
.cp-juicer__instagram-title .ig-user {
  font-size: 2.25rem;
  font-family: sansumi-regular;
  font-weight: 300;
  line-height: 1.1;
  text-transform: none;
}
.l-content-wrapper p,
.l-content-wrapper span,
.mfp-title,
footer ul li a,
footer p,
.cp-juicer__instagram-title .follow-us {
  font-size: 1rem;
  font-family: sansumi-regular;
  font-weight: 300;
  line-height: 1.875;
  text-transform: none;
}
/* END Theme Styles for Fonts */
/* Theme Styles for Buttons */
.cp-button span {
  font-family: sansumi-regular;
  font-weight: 300;
  text-transform: uppercase;
}
.cp-button {
  height: 53px;
  border-radius: 50px;
}
/* END Theme Styles for Buttons */
/* Theme Styles for Mobile */
.cp-header__nav.priority-nav__dropdown {
  background-color: #f6dca2 !important;
}
/* END Theme Styles for Mobile */

.l-row-block_5dd679042fe0f .cp-half-and-half__content p,
.l-row-block_5dd679042fe0f .cp-half-and-half__content p span {
  color: #20483a !important;
}
.l-row-block_5dd679042fe0f .cp-half-and-half__content ul {
  color: #20483a;
}
@media screen and (max-width: 1440px) {
  .cp-half-and-half__inner {
    margin: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .cp-half-and-half__inner {
    margin: 0 40px;
  }
}

.cp-spacer.l-row-block_5dde7ce98280b {
  padding: 300px 0;
}
.l-row-block_5dd679352fe10 .cp-half-and-half__content p,
.l-row-block_5dd679352fe10 .cp-half-and-half__content p span {
  color: #20483a !important;
}
.l-row-block_5dd679352fe10 .cp-half-and-half__content ul {
  color: #20483a;
}
@media screen and (max-width: 1440px) {
  .cp-half-and-half__inner {
    margin: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .cp-half-and-half__inner {
    margin: 0 40px;
  }
}

.cp-spacer.l-row-block_5ddd4d621a94b {
  padding: 495px 0;
}
.l-row-block_5dd679772fe12 .cp-half-and-half__content p,
.l-row-block_5dd679772fe12 .cp-half-and-half__content p span {
  color: #20483a !important;
}
.l-row-block_5dd679772fe12 .cp-half-and-half__content ul {
  color: #20483a;
}
@media screen and (max-width: 1440px) {
  .cp-half-and-half__inner {
    margin: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .cp-half-and-half__inner {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1440px) {
  .cp-half-and-half__inner {
    margin: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .cp-half-and-half__inner {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1440px) {
  .cp-half-and-half__inner {
    margin: 0 70px;
  }
}
@media screen and (max-width: 768px) {
  .cp-half-and-half__inner {
    margin: 0 40px;
  }
}

.l-row-block_5f146adc06d73 .cp-two-column__content h3 {
  color: #000000 !important;
}
.l-row-block_5f146adc06d73 .cp-two-column__content p span,
.l-row-block_5f146adc06d73 .cp-two-column__content p {
  color: #000000 !important;
}
.l-row-block_5f146adc06d73 .cp-two-column__content span,
.cp-two-column__content p,
.cp-two-column__content h3 {
  justify-content: flex-start !important;
}
.l-row-block_5f146adc06d73 .l-content-wrapper__button-wrapper {
  align-self: flex-start !important;
}

.cp-gallery__title {
  color: #20483a !important;
}
.mfp-title {
  color: #20483a;
}
hours section style-- > .cp-interactive-map__social-icon {
  border-color: #20483a;
}
.cp-interactive-map__social-icon span {
  color: #20483a;
}
.cp-interactive-map .l-content-wrapper p {
  color: #20483a;
}
.cp-interactive-map .l-content-wrapper a {
  color: #20483a;
}
.cp-interactive-map__secondary-logo-container::before {
  background-color: #34373f;
}

.cp-spacer.l-row-block_5ddfab8cba561 {
  padding: 100px 0;
}

.cp-hours__title {
  margin: -30px;
}

.cp-half-and-half__image img {
  width: 400px;
  height: auto;
  border-radius: 20px;
}

.cp-half-and-half__content img {
  border-radius: 30px;
}

.cp-half-and-half__half img {
  border-radius: 30px;
}

.icon-arrow-right:before {
  content: "\e908";
}

.cp-gallery__controls--arrow span {
  position: relative;
  color: #282828;
  top: 1px;
  left: -2px;
  font-size: 26px !important;
}

.cp-gallery__controls--arrow {
  cursor: pointer;
  background: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 57px;
  height: 57px;
  border: solid 1px #282828;
  border-radius: 50%;
  position: relative;
  z-index: 101;
  padding: 0;
}

.icon-arrow-right:before {
  content: "\e908";
}

/*  social media link icon  */

/* Style the Sticky icons on web page */
.stickyicon-list {
  position: fixed;
  top: 300px;
  left: 10px;
  transform: translateY(-50%);
  z-index: 999;
  text-align: center;
  width: 50px;
}
.stickyicon-list a {
  display: block;
  padding: 8px;
  transition: all 0.5s ease;
  color: white;
}
/* HOver affect on sticky social media icons */
.stickyicon-list a:hover {
  transform: scale(1.3, 1.3);
}

/* Now we have to design each icon of social media */
.facebook {
  background: #3b589891;
  color: rgb(153, 199, 26);
  border-radius: 10px;
  height: 40px;
}
.twitter {
  color: white;
  background: #00abeec0;
  border-radius: 10px;
  height: 40px;
}
.linkedin {
  background: #0e77a8af;
  color: white;
  border-radius: 10px;
  height: 40px;
}

.instagram {
  background: #ce48cea6;
  color: white;
  border-radius: 10px;
  height: 40px;
}
.youtube {
  color: white;
  background: #c4302b80;
  border-radius: 10px;
  height: 40px;
}
.whatsapp {
  color: white;
  background: #37db21ad;
  border-radius: 10px;
  height: 40px;
}

/* nav auto appear when scrolling */

/*  /social media link icon  */
